# Database Configuration
DB_HOST=172.16.70.25
DB_PORT=5432
DB_NAME=timetracking_main
DB_USER=spireapp
DB_PASSWORD=9xQ*s-XT1Yk!VTNE

# Spire API Configuration
SPIRE_BASE_URL=https://clean-invoice-3801.spirelan.com:10880
SPIRE_COMPANY=fmc_hvac
SPIRE_AUTH=Basic RGhydXZhbDpEaHJ1dmFsMTIzJCVe

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000
ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
ALLOWED_HEADERS=Content-Type,Authorization,X-Requested-With

# Server Configuration
PORT=3001
NODE_ENV=production

# JWT Configuration
JWT_SECRET=flourish
JWT_EXPIRES_IN=24h
